body {
  margin:0px;
  background-color:rgba(174, 144, 100, 0.21176470588235294);
  background-image:none;
  position:relative;
  left:-36px;
  width:303px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#A36717;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:79px;
  width:185px;
  height:82px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#A36717;
}
#u0 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Papyrus Bold', 'Papyrus Normal', 'Papyrus', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#C7A673;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:161px;
  width:303px;
  height:76px;
  display:flex;
  font-family:'Papyrus Bold', 'Papyrus Normal', 'Papyrus', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#C7A673;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
  background:inherit;
  background-color:rgba(163, 103, 23, 0.7450980392156863);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:453px;
  width:151px;
  height:51px;
  display:flex;
  font-size:24px;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:546px;
  width:151px;
  height:51px;
  display:flex;
  font-size:24px;
  color:rgba(163, 103, 23, 0.7450980392156863);
}
#u3 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
